<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.net.finditnow"
      android:versionCode="1"
      android:versionName="1.0">
    <application 
    	android:icon="@drawable/icon"
		android:label="@string/app_name">
        <activity android:name=".FINSplash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FINHome"></activity>
        <activity android:name=".FINMenu"></activity>
        <activity android:name=".FINMap"
        android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".BuildingList"></activity>
        <activity android:name=".CategoryList"></activity>
        <activity android:name=".FINSettings"></activity>
        <activity android:name=".FINHelp"></activity>
        <activity android:name=".FINAddNew"></activity>
        <activity android:name=".FINAddIndoor"></activity>
        <activity android:name=".FINAddOutdoor"></activity>
		<uses-library android:name="com.google.android.maps" />
    </application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
</manifest> 